{% extends 'base.html' %}

{% block title %}Article List{% endblock %}

{% block content %}
    <h1>Article List</h1>
    {% for article in articles %}
        <h2><a href="{% url 'article_detail' slug=article.slug pk=article.id %}">{{ article.title }}</a></h2>
        <p>{{ article.content|truncatewords:50 }}</p>
        {% if article.author.get_full_name %}
            <p>Author: {{ article.author.get_full_name }}</p>
        {% else %}
            <p>Author: {{ article.author.username }}</p>
        {% endif %}
        <p>Publication Date: {{ article.publication_datetime }}</p>
        <hr>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
